{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Your information" %}{% endblock %}
{% block content %}
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
            {% if messages %}
                {% for alert in messages %}
                    <div class="mt-2">
                        <div class="alert alert-{{ alert.level_tag }}">
                            {{ alert.message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- Heading -->
            <h2 class="{% if messages %}my-4{% else %}my-5{% endif %} h2 text-center">{% trans "Your information" %}</h2>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-12 mb-4">
                    <!--Card-->
                    <div class="card card-body text-decoration-none dark-grey-text">
                        <h4>{% trans "Username" %}:</h4>
                        <p>{{ object.username }}</p>
                        <h4>{% trans "Email" %}:</h4>
                        <p>{{ object.email }}</p>
                        <hr class="mt-2 mb-4">
                        <h4>{% trans "First name" %}:</h4>
                        <p>{{ object.first_name }}</p>
                        <h4>{% trans "Last name" %}:</h4>
                        <p>{{ object.last_name }}</p>
                        <h4>{% trans "Birth date" %}:</h4>
                        <p>{{ object.birth_date }}</p>
                        <hr class="mt-2 mb-4">
                        <h4>{% trans "Date joined" %}:</h4>
                        <p class="mb-n1">{{ object.date_joined }}</p>
                    </div>
                </div>
            </div>
            <div class="row flex-center">
                <div class="col-md-4 mt-3 mt-md-3 mb-4">
                    <a class="btn deep-orange white-text btn-lg btn-block" href="{% url "profil" %}">{% trans "Back" %}</a>
                </div>
                <div class="col-md-4 mt-n3 mt-md-3 mb-4">
                    <a class="btn deep-orange white-text btn-lg btn-block" href="{% url "edit-information" request.user.id %}">{% trans "Edit" %}</a>
                </div>
                <div class="col-md-4 mt-n3 mt-md-3 mb-4">
                    <a class="btn deep-orange white-text btn-lg btn-block" href="{% url "new-address" %}">{% trans "Address" %}</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}