{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Make an offer" %}{% endblock %}
{% block content %}
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
            <div class="m-5 flex-center">
                <!--Card-->
                <div class="col-lg-12 card">
                    <!--Card content-->
                    <div class="card-body">
                        <!-- Heading -->
                        <h2 class="mt-4 mb-1 h2 text-center"><strong>{% trans "Make an offer" %}</strong></h2>
                        <p class="mb-5 text-center"><strong>{% trans "User contact information:" %}</strong></p>
                        <hr>
                        <h4>{% trans "Email" %}:</h4>
                        <p class="mb-4">{{ object.user.email }}</p>
                        <h4>{% trans "Phone number" %}:</h4>
                        <p class="mb-4">{{ address.phone_number }}</p>
                        <h4>{% trans "Exact location" %}:</h4>
                        <p>{{ address.country }}, {{ address.region }}, {{ address.city }}</p>
                        <p>{{ address.address }}</p>
                        <hr class="mt-4 mb-4">
                        <a class="btn deep-orange white-text btn-lg btn-block" href="{% url "ad" product.id %}">{% trans "Back" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}